extends layout

block content
    nav(class="navbar navbar-expand-sm bg-success navbar-dark")
        <!-- Brand -->
        a(class="navbar-brand" href="") CLINICA

        <!-- Links -->
        ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
            li(class="nav-item")
                a(class="nav-link" href="/") LOBBY
            li(class="nav-item")
                a(class="nav-link" href="/persona/agregar") AGREGAR PERSONA
            li(class="nav-item")
                a(class="nav-link" href="/turno/allTurnos") TODOS TURNOS
            <!-- Dropdown -->
            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown") #{persona.nombre} #{persona.apellido}
                div(class="dropdown-menu")
                    a(class="dropdown-item" href="/persona/perfil") PERFIL
                    a(class="dropdown-item" href="/singOut") CERRAR SESIÓN
    .container-fluid
        .row
            .col
                h1 TODOS TURNOS
                table#myTable
                    thead
                        tr
                            th ID
                            th PERSONA
                            th FECHA RESERVA
                            th FECHA TURNO
                            th HORA TURNO
                            th ESTADO
                            th COMENTARIO
                            th MEDICO/PROCEDIMIENTO
                            th CLINICA
                            th MODIFICAR
                    tbody
                        each val in turnos
                            tr
                                td #{val.id}
                                if val.Persona != null
                                    td
                                        a(href=`/persona/${val.Persona.id}`) #{val.Persona.nombre} #{val.Persona.apellido}
                                else
                                    td NULL
                                if val.fecha_reserva != null
                                    td #{val.fecha_reserva.toLocaleString()}
                                else
                                    td NO RESERVADO
                                td #{val.Calendario.fecha}
                                td #{val.hora_turno}
                                td #{val.Estado_turno.descripcion}
                                td #{val.comentario}
                                if val.Calendario.Agenda.Medico != null
                                    td
                                        a(href=`/medico/${val.Calendario.Agenda.Medico.id}`) #{val.Calendario.Agenda.Medico.Persona.nombre} #{val.Calendario.Agenda.Medico.Persona.apellido} / #{val.Calendario.Agenda.Medico.Especialidad.nombre}
                                else
                                    td
                                        a(href=`/procedimiento/${val.Calendario.Agenda.Procedimiento.id}`) #{val.Calendario.Agenda.Procedimiento.nombre}
                                td
                                    a(href=`/clinica/${val.Calendario.Agenda.Clinica.id}`) #{val.Calendario.Agenda.Clinica.nombre}
                                if val.Estado_turno.descripcion == "Disponible"
                                    td
                                        button(type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal" onclick="llenarForm(this)") RESERVAR
                                else if val.Estado_turno.descripcion == "Reservado"
                                    td
                                        .btn-group
                                            button(type="button" class="btn btn-outline-success btn-sm" onclick="confirmado(this);") CONFIRMADO
                                            button(type="button" class="btn btn-outline-danger btn-sm" onclick="cancelar(this);") CANCELAR
                                else
                                    td
        .row
            .col
                div(class="modal fade" id="myModal" role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h4(class="modal-title") RESERVAR
                            div(class="modal-body")
                                form(method="post" action="reservar")
                                    .form-group
                                        input#id(type="hidden" name="id" class="form-control" )
                                    .form-group
                                        label(for="persona") PERSONA:
                                        br
                                        br
                                        select#persona(name="persona" class="form-control" required)
                                            option(value="NULL") ----------------------------------------
                                    br
                                    button(type="button" class="btn btn-outline-success" style="margin-left: 30%; margin-right: 5px;" onclick="reservar();") RESERVAR
                                    button(id="closeModal" type="button" class="btn btn-outline-danger" data-dismiss="modal") CERRAR

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js")
    script.
        $(document).ready( function () {
            $('#myTable').DataTable();
            $.ajax({
                url: `http://localhost:3000/persona/personasConUsuPaciente`,
                type: 'GET',
                success: function(respuesta) {
                    respuesta.forEach(e=>{
                        console.log(e.nombre)
                        document.getElementById('persona').innerHTML += `<option value=${e.id}>${e.nombre} ${e.apellido} - ${e.dni}</option>`;
                    });
                },
                error: function() {
                    console.error("No es posible completar la operación");
                }
            });
        });

        function cancelar(e){
            var personaid = $(e).parents("tr").find("a")[0].getAttribute("href").split("/")[2];
            var id = $(e).parents("tr").find("td")[0].innerHTML;
            $.ajax({
                type:"POST",
                url:"http://localhost:3000/turno/cambiarEstado",
                data:{id: id,
                personaid: personaid,
                estadoTurno: 3},
                success:function(datos){
                }
            })
            location.href = "http://localhost:3000/turno/allTurnos"
        };

        function confirmado(e){
            var personaid = $(e).parents("tr").find("a")[0].getAttribute("href").split("/")[2];
            var id = $(e).parents("tr").find("td")[0].innerHTML;
            $.ajax({
                type:"POST",
                url:"http://localhost:3000/turno/cambiarEstado",
                data:{id: id,
                personaid: personaid,
                estadoTurno: 3},
                success:function(datos){
                }
            })
            location.href = "http://localhost:3000/turno/allTurnos"
        };

        function llenarForm(e){
            var id = $(e).parents("tr").find("td")[0].innerHTML;
            $("#id").val(id);
        };

        function reservar(){
            if($("#persona").val() == "NULL"){
                $("#closeModal").click();
                alert('Debe seleccionar un Persona "Paciente"');
            }else{
                $.ajax({
                    type:"POST",
                    url:"http://localhost:3000/turno/cambiarEstado",
                    data:{id: $("#id").val(),
                    personaid: $("#persona").val(),
                    estadoTurno: 2,
                    fecha_reserva: Date()},
                    success:function(datos){
                    }
                })
                location.href = "http://localhost:3000/turno/allTurnos"
            }
        };